* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: rgb(247, 67, 157);
}

.navbar img {
    border-radius: 200px;
    width: 50px;
    height: 50px;
}
